# SectorSystem Environment
# cp .env.template .env && nano .env
# NIE COMMITUJ .env!

MYSQL_HOST=mysql.titanaxe.com
MYSQL_PORT=3306
MYSQL_USER=srv325281
MYSQL_PASS=Vaw4wCB4
MYSQL_DB=srv325281

REDIS_HOST=localhost
REDIS_PORT=6379

NATS_URL=nats://localhost:4222
